{% extends "auctions/layout.html" %}
{% block title %}
{{listing.title}}
{% endblock title %}
{% block style %}

<style>
    /* Credit for this comment timeline goes to W3SCHOOL */
    * {
        box-sizing: border-box;
    }

    .commentContainer {

        padding: 2px 10px;
        position: relative;
        background-color: inherit;

    }

    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 10px;
        width: 0;
        z-index: 3;
        left: 0px;
        border: medium solid gainsboro;
        border-width: 10px 10px 10px 0;
        border-color: transparent gainsboro transparent transparent;
    }


    /* The actual content */
    .content {
        padding: 5px 10px;
        background-color: gainsboro;
        position: relative;
        border-radius: 6px;
    }
</style>
{% endblock style %}
{% block body %}
<script class="on">
    function myFunction() {
        alert("You are not signed in");
    }
    function myFunction2() {
        alert("You are not signed in\nYou have to sign in to make comment ");
    }

</script>

<div class="container">
    <div class="row">
        <div class="col-6 ">
            <h2>Listing:{{listing.title}}</h2>
        </div>
        <div class="col-6">
            {% if userIsOwner %}
            <a href="{%url 'closeThisListing' listing.title%}" class="float-right">Close This Auction</a>
            {% endif %}
        </div>
    </div>
    <div class="row  ">
        <div class=" col-6 pt-3 border" style="overflow-y: scroll;">
            <img class=" mx-auto d-block" src="{{listing.imgUrl}}" alt="Image Not Available" width="230px"
                height="270px">
        </div>

        <div class=" col-6 pt-3 border text-centre" style="overflow-y: scroll;">
            <h3>{{listing.title}}</h3>
            <label for="startingBid">Starting Bid</label>
            <h4>{{listing.startingBid}}</h4>
            <label for="currentPrice">Current Price</label>
            <h4>{{listing.currentPrice}}</h4>
            {% if  user.is_authenticated %}
            {% if listedOnWatchList %}


            <a href="{%url 'removeFromWatchList' listing.title %}">
                <h6>Remove From Watchlist</h6>
            </a>
            {%else%}
            <a href="{%url 'addToWatchList' listing.title %}">
                <h6>Add To Watchlist</h6>

            </a>
            {% endif %}
            {%else%}
            <h5 onclick=" myFunction()" style="color:blue;">Add To Watchlist</h5><br>
            {% endif %}
            <label for="placeBid">Make Bid:</label>
            {% if  user.is_authenticated %}
            {% if not checkBid %}
            <h5 style="color: red;">Bid Must Be Greater Than Current Price</h5>
            {% endif %}
            <form action="{%url 'placeBid'%}" method="POST">
                {% csrf_token %}
                <input name="title" type="text" value="{{listing.title}}" hidden>
                <input type="number" name=bidAmount><br><br>
                <input type="submit" value="Place Bid"><br><br>
            </form>
            {%else%}
            <form action="">
                <input type="number" name=bidAmount><br><br>
                <button onclick="myFunction()" type="submit">Place Bid</button><br><br>
            </form>
            {% endif %}
        </div>


    </div>
    <div class="row border ">
        <div class=" col-12  myCol" style="overflow-y: scroll;">
            <label for="category">Category:</label>
            <ul>
                {% for category in categories %}

                <li>{{category}}</li>
                {% endfor %}</ul>
            <label for="description">
                Description:
            </label>
            <p>{{listing.description}}</p>

        </div>

    </div>

    <div class="row  ">
        <div class="col-12">
            <h4>Comments:</h4>
        </div>
        {% if  user.is_authenticated %}
        <div class=" col-12 ">
            <form action=" {%url 'comment'%}" method="POST">
                {% csrf_token %}
                <input name="title" type="text" value="{{listing.title}}" hidden>

                <textarea name="comment" style=" margin-top:10px; resize: none; width: 900px; height: 30px;"
                    placeholder="Make Comment"></textarea>
                <input style="margin-bottom: 20px;" type="submit" value="Comment">
            </form>


            {%else%}
            <form action="">
                <textarea name="comment" style=" margin-top:10px; resize: none; width: 900px; height: 30px;"></textarea>

                <button style="margin-bottom: 20px;" onclick="myFunction2()" type="submit">Comment</button>
            </form>
            {% endif %}
        </div>

    </div>
</div>
<div class="container">
    <div class="row ">

        <div class="col-12 ">

            {% if comments %}


            <div class="timeline">

                {% for comment in comments  %}
                <div class="commentContainer right">
                    <div class="content">

                        <h6>Comment By {{comment.user.username}}</h6>
                        <p>{{comment.comment}}</p>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}